<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Admin Page</title>
</head>
<body>
    <div class="admin">
        <h1 style="font-family: BPG Nino Mtavruli; font-size: 25px;">Hello Admin </h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Mail</th>
                <th>Password</th>
            </tr>
            {% for i in range(user["name"] |length) %}
            <tr>
                <tr>
                    <td>{{ user["name"][i] }}</td>
                    <td>{{ user["email"][i] }}</td>
                    <td>{{ user["password"][i] }}</td>
                </tr>
            </tr>
            {% endfor %}
                       
        
        </table>
    </div>
    
</body>
</html>